@import "../../../styles/colors.scss";
@import "../../../styles/screenSizes.scss";

.tobacco-info {
  display: flex;

  &__photos-area {
    width: 100%;
    max-width: 350px;
    margin-left: 50px;

    h1 {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      color: #d27e04;
      font-weight: 800;
    }
  }

  &__controllers-place {
    width: 100%;
    margin-bottom: 20px;
  }

  &__controller {
    display: inline-block;
    font-size: 16px;
    color: gray;
    cursor: pointer;
    margin-left: 15px;

    &:hover {
      color: orangered;
      text-decoration: underline;
    }

    &--delete {
      left: 80px;
    }
  }

  &__photos-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &__photo-elem {
    width: calc(100% / 3 - 10px);
    min-width: calc(100% / 3 - 10px);
    cursor: pointer;
    margin: 0 5px;

    &--selected {
      border: 2px solid #d27e04;
    }
  }

  &__info-block {
    flex-grow: 1;
    margin: 0 10px;
    padding: 10px;
  }

  &__delete-button {
    display: flex;
    color: red;
    cursor: pointer;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;

    .tobacco-info__label {
      width: 200px;
      font-size: 20px;
      color: orangered;
      font-weight: bold;
      // margin-bottom: 2px;
    }
    .tobacco-info__value {
      flex-grow: 1;
    }
  }
}

@media (max-width: $netbooks) {
  .tobacco-info {
    flex-direction: column;

    &__photos-area {
      max-width: 100%;
      margin: 0;

      h1 {
        display: block;
        width: 100%;
        margin-bottom: 5px;
      }
      & > div,
      ul {
        max-width: 350px;
      }
    }

    &__info-block {
      margin-top: 30px;

      .tobacco-info__value {
        margin-left: 5px;
        margin-top: 3px;
      }
    }
  }
}

@media (max-width: $mobileMax) {
  .tobacco-info {
    &__photos-area {
      max-width: 100%;
      width: 100%;

      h1 {
        width: 100%;
        text-align: center;
      }
      & > div,
      ul {
        width: 100%;
      }
    }
  }
}
