@import "../../styles/colors.scss";

.input-container {
  padding-top: 10px;
  position: relative;
  min-width: 80px;

  input {
    width: 100%;
    border: 1px solid $colorBlack;
    padding: 8px 10px;
    font-size: 16px;
    color: $colorBlack;
    font-weight: 300;

    &::placeholder {
      transition: 0.1s;
      opacity: 0;
    }

    &:focus {
      border-width: 1px;
      margin: 0;
      border-color: $mainColor;
    }
  }

  label {
    position: absolute;
    top: 18px;
    left: 12px;
    transition: 0.2s;
    color: $colorGray;
    cursor: text;
  }

  input:disabled {
    opacity: 0.5;
  }

  input:focus + label,
  input:valid + label,
  input:disabled + label {
    transform: translateX(-10px) translateY(-25px);
    font-size: 14px;
    color: $colorGray;
  }

  input:focus + label {
    color: $colorBlue;
  }

  input:focus::placeholder {
    transition-delay: 0.1s;
    opacity: 1;
  }

  &--invalid {
    input {
      border: 1px solid $errorColor;
      transition: 0.2s;
    }

    label {
      color: $errorColor !important;
    }
  }
}
