@import "../../styles/colors.scss";

.input-container {
  padding-top: 10px;
  position: relative;
  min-width: 80px;

  &__input {
    width: 100%;
    border: 1px solid $colorGray;
    padding: 8px 10px;
    font-size: 16px;
    color: #111;
    font-weight: 300;

    &::placeholder {
      transition: 0.1s;
      opacity: 0;
    }

    &:focus {
      border-width: 2px;
      margin: 0;
      border-color: $colorBlue;
    }
  }

  &__label {
    position: absolute;
    top: 18px;
    left: 12px;
    transition: 0.3s;
    color: $colorGray;
    cursor: text;
  }

  &__input:disabled {
    opacity: 0.5;
  }

  &__input:focus + .input-container__label,
  &__input:valid + .input-container__label,
  &__input:disabled + .input-container__label {
    transform: translateX(-10px) translateY(-25px);
    font-size: 14px;
    color: $colorGray;
  }

  &__input:focus + .input-container__label {
    color: $colorBlue;
  }

  &__input:focus::placeholder {
    transition-delay: 0.1s;
    opacity: 1;
  }
}
