@import "../../styles/colors.scss";

.textarea {
  position: relative;
  width: 100%;

  textarea {
    padding: 8px 10px;
    width: 100%;
    border: 1px solid $colorBlack;
    font-size: 16px;
    resize: none;

    &:focus {
      outline: none !important;
      border-radius: 0;
      border-color: $mainColor;
      margin: 0;
    }

    &::placeholder {
      transition: 0.1s;
      opacity: 0;
    }

    &:focus::placeholder {
      transition-delay: 0.1s;
      opacity: 1;
    }

    &:focus + label,
    &:valid + label,
    &:disabled + label {
      font-size: 14px;
      color: $colorGray;
    }

    &:focus + label {
      color: $mainColor;
    }
  }

  label {
    position: absolute;
    left: 4px;
    top: -20px;
    transition: 0.2s;
    color: rgb(131, 131, 131);
    cursor: text;
  }

  &--invalid {
    textarea,
    textarea:focus {
      border: 1px solid $errorColor;
      transition: 0.2s;
    }

    label {
      color: $errorColor !important;
    }
  }
}
