@import "../../styles/colors.scss";

.textarea {
  position: relative;
  width: 100%;
  padding-top: 15px;

  textarea {
    padding: 6px;
    width: 100%;
    border: 1px solid #111;
    font-size: 16px;
    margin: 1px;
    resize: none;

    &:focus {
      outline: none !important;
      border-radius: 0;
      border: 2px solid $colorBlue;
      margin: 0;
    }

    &::placeholder {
      transition: 0.1s;
      opacity: 0;
    }

    &:focus::placeholder {
      transition-delay: 0.1s;
      opacity: 1;
    }

    &:focus + .textarea__label,
    &:valid + .textarea__label,
    &:disabled + .textarea__label {
      transform: translateX(-10px) translateY(-25px);
      font-size: 14px;
      color: black;
    }

    &:focus + .textarea__label {
      color: $colorBlue;
    }
  }

  &__label {
    position: absolute;
    top: 18px;
    left: 10px;
    top: 23px;
    transition: 0.3s;
    color: rgb(131, 131, 131);
    cursor: text;
  }
}
