@import "../../styles/colors.scss";
.authorization {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    -90deg,
    #5ca4ff 0,
    #0079ff 50%,
    #0050b9 100%
  );

  &.authorization--active {
    background-image: linear-gradient(
      90deg,
      #ff6a51 0,
      #ff544d 25%,
      #f43647 50%,
      #e60042 75%,
      #db0041 100%
    );
  }

  &__container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
  }

  &__sitename {
    color: green;
    position: absolute;
    left: 0;
    top: -50px;
    color: $colorWhite;
    max-width: 400px;
    width: 100%;
    text-align: center;
    transition: 0.75s;
  }

  &.authorization--active .authorization__sitename {
    left: 400px;
    transition: 0.75s;
  }

  .blueBg {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
  }

  .blueBg .authorization__box {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .blueBg .authorization__box h2 {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .blueBg .authorization__box button {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 500;
  }

  &__formBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;

    &.authorization__formBx--active {
      left: 50%;
    }

    .authorization__form {
      position: absolute;
      left: 0;
      width: 100%;
      padding: 50px;
      transition: 0.5s;
    }

    .authorization__signinForm {
      transition-delay: 0.25s;
    }

    &.authorization__formBx--active .authorization__signinForm {
      left: -100%;
      transition-delay: 0s;
    }

    .authorization__signupForm {
      left: 100%;
      transition-delay: 0s;
    }

    &.authorization__formBx--active .authorization__signupForm {
      left: 0;
      transition-delay: 0.25s;
    }

    .authorization__form form {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .authorization__form form h3 {
      font-size: 1.5em;
      color: #333;
      margin-bottom: 20px;
      font-weight: 500;
    }

    .authorization__form form input {
      width: 100%;
      padding: 10px;
      outline: none;
      font-size: 16px;
      border: 1px solid #333;
    }

    .authorization__form form input[type="submit"] {
      background-color: #03a9f4;
      border: none;
      color: #fff;
      cursor: pointer;
    }

    .authorization__form.authorization__signupForm input[type="submit"] {
      background: #f43648;
    }

    .authorization__form form .forgot {
      color: #333;
    }

    &.authorization__signupForm {
      left: 100%;
    }
  }
}

@media (max-width: 990px) {
  .authorization {
    &__sitename {
      max-width: 500px;
    }
    &.authorization--active .authorization__sitename {
      left: 0;
    }

    &__container {
      min-width: 320px;
      width: 500px;
      height: 650px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__container .blueBg {
      top: 0;
      height: 500px;
      height: 100%;
    }

    &__container .authorization__formBx {
      width: 100%;
      height: 500px;
      top: 0;
      box-shadow: none;
    }

    &__container .blueBg .authorization__box {
      position: absolute;
      width: 100%;
      height: 150px;
      bottom: 0;
    }

    &__container .blueBg .authorization__box.authorization__signin {
      top: 0;
    }

    &__container .authorization__formBx.authorization__formBx--active {
      left: 0;
      top: 150px;
    }
  }
}
