.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: calc(100% - 250px);
  margin-left: auto;
  // overflow: hidden;
  // overflow-y: auto;
}

@media (max-width: 768px) {
  .page-wrapper {
    width: 100%;
    padding-top: 60px;
  }
}
