.routes-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
}

.some {
  width: calc(100% / 3 - 5px);
  height: 250px;
  background-color: grey;
  margin-right: 5px;
  margin-bottom: 5px;
}
