@import "../../../styles/colors.scss";

.substrate {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.confirm {
  margin: 0 5px;
  margin-top: 100px;
  max-width: 350px;
  background-color: white;
}

.textWrapper {
  padding: 25px 40px;
  text-align: center;
  font-weight: 600;
}

.controller {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;

  button {
    padding: 15px;
    cursor: pointer;
    width: 50%;
    height: 100%;

    &:hover {
      background-color: lightgray;
      transition: 0.1s;
    }
  }

  div {
    width: 1px;
    background-color: lightgray;
  }
}
