@import "../../../styles/colors.scss";

.confirm {
  margin: 0 5px;
  margin-top: 100px;
  max-width: 350px;
  background-color: white;
}

.textWrapper {
  padding: 25px 40px;
  text-align: center;
  font-weight: 600;
}

.controller {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;

  button {
    padding: 15px;
    width: 50%;
    height: 100%;

    &:hover {
      background-color: lightgray;
      transition: 0.1s;
    }
  }

  div {
    width: 1px;
    background-color: lightgray;
  }
}
