@import "../../styles/colors.scss";

.c-button {
  min-width: 50px;
  color: white;
  background-color: $colorBlue;
  padding: 10px 15px;
  font-size: 1em;
  margin: 5px 0;
  transition: 0.1s;

  &:hover {
    // background-color: #246fe7;
    filter: brightness(1.1);
    transition: 0.1s;
  }

  &:disabled {
    background-color: lightgray;
    color: white;
    cursor: auto;

    &:active {
      box-shadow: none;
    }
  }
}
