.rf {
  &__input-wrapper {
    position: relative;
    margin-bottom: 25px;

    &.rf__input-wrapper--success input {
      border: 1px solid rgb(5, 198, 5) !important;
    }

    &.rf__input-wrapper--error input {
      border: 1px solid orangered !important;
    }
  }

  &__error-text {
    position: absolute;
    left: 0;
    top: 39px;
    font-size: 0.75em;
    color: orangered;
  }

  &__spinner {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      right: -35px;
      top: 6px;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      border: 6px solid rgba(0, 115, 255, 0.3);

      border-top-color: rgb(0, 115, 255);
      animation: spinner 0.5s infinite;
    }
  }
}

@keyframes spinner {
  0% {
    rotate: (0);
  }

  100% {
    rotate: (360deg);
  }
}
