$mobileMin: 320px; // Мобильные устройства (портретная ориентация);
$mobileMax: 480px; // Мобильные устройства (альбомная ориентация);
$tabMin: 600px; // Небольшие планшеты;
$tabMiddle: 768px; // Планшеты (портретная ориентация);
$netbooks: 1024px; // Планшеты (альбомная ориентация)/Нетбуки;
$desktop: 1280px; // PC.
