@import "styles/colors.scss";

.restore-password-form {
  fieldset {
    display: flex;
    flex-direction: column;
    padding: 12px 4px 0;
    border: 1px solid $colorGray;
    color: $colorGray;

    &:has(input:focus) {
      border: 1px solid $colorBlue;
      color: $colorBlue;
    }
  }

  .hdb-form__item {
    margin: 0 8px 32px;
  }
}
