@import "../../styles/colors.scss";

.navbar {
  position: fixed;
  left: 0px;
  height: 100vh;
  background-color: $colorBlue;
  overflow: hidden;
  box-shadow: 15px;
  transition: 0.5s;
  width: 250px;
  min-width: 250px;
  transition: 0.5s;
  z-index: 1;

  &__logo {
    margin: 20px 10px;
    padding: 5px 20px;

    h1 {
      color: white;
    }
  }

  &__toggle-button {
    display: none;
  }

  &__signout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-size: 1.75rem;
  }

  ul {
    margin: 0 10px;

    li {
      margin: 5px 0;
    }

    li a {
      display: flex;
      align-items: center;
      color: #fff;
      position: relative;
      width: 100%;
      border-radius: 5px;
    }

    li a:hover {
      background-color: #9cc2ff;
    }

    li a.active {
      background-color: #fff;
      color: #365fa1;
    }

    li a .navbar__icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 60px;
      height: 60px;
      line-height: 70px;
    }

    li a .navbar__icon svg {
      font-size: 1.75em;
    }

    li a .navbar__title {
      position: relative;
      display: block;
      padding: 0 10px;
      height: 60px;
      line-height: 60px;
      white-space: nowrap;
    }
  }
}

.head {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    left: -100%;
    width: 100%;
    margin-top: 60px;
    height: calc(100vh - 60px);

    &__logo {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      position: fixed;
      margin: 0;
      top: 0;
      left: 0;
      height: 60px;
      background-color: $colorBlue;
      width: 100%;
    }

    &__toggle-button {
      display: block;
      position: fixed;
      height: 60px;
      width: 60px;
      top: 0;
      left: 0;
      background-color: $colorBlue;
      cursor: pointer;
    }

    &__toggle-button span::after {
      content: "";
      position: absolute;
      width: 26px;
      height: 3px;
      border-radius: 3px;
      background-color: $colorWhite;
      transform: translateY(0px) translateX(-15px);
      transition: 0.5s;
    }

    &__toggle-button::before {
      content: "";
      position: absolute;
      width: 26px;
      height: 3px;
      border-radius: 3px;
      background-color: $colorWhite;
      transform: translateY(-10px) translateX(-15px);
      transition: 0.5s;
    }

    &__toggle-button::after {
      content: "";
      position: absolute;
      width: 26px;
      height: 3px;
      border-radius: 3px;
      background-color: $colorWhite;
      transform: translateY(10px) translateX(-15px);
      transition: 0.5s;
    }

    &.navbar--active {
      left: 0;
    }

    &.navbar--active .navbar__toggle-button::before {
      transform: rotate(-45deg) translateX(-10px) translateY(-10px);
    }

    &.navbar--active .navbar__toggle-button::after {
      transform: rotate(45deg) translateX(-10px) translateY(10px);
    }

    &.navbar--active .navbar__toggle-button span::after {
      opacity: 0;
      transform: rotate(180deg) translateX(10px);
    }
  }
}
