@import "../../styles/colors.scss";

.comment-item {
  display: flex;
  flex-direction: column;
  border-top: 2px solid black;

  &__about-commentator {
    position: relative;
    display: flex;
  }

  &__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colorBlue;
    width: 100%;
    height: 36px;
    padding: 0px 10px;
  }

  &__avatar {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 75px;
    max-width: 75px;
  }

  &__info {
    display: flex;
    align-items: center;
    padding-left: 75px;
    color: $colorWhite;
    font-size: 22px;
  }

  &__delete-button {
    margin: 5px auto 0 5px;
    cursor: pointer;

    &:hover {
      color: $colorOrangered;
    }
  }

  &__datetime {
    color: $colorLightGray;
    font-size: 12px;

    &--now {
      display: none;
      transition: 1s;
    }

    &:hover .comment-item__datetime--now {
      display: inline;
      transition: 1s;
    }

    &:hover .comment-item__datetime--from {
      display: none;
      transition: 1s;
    }
  }

  &__text {
    padding-left: 80px;
    margin-top: 5px;
  }
}
