@import "../../styles/colors.scss";

.comment-creating {
  margin: 5px 0;

  &__button {
    margin-left: auto;

    &--send {
      margin-right: 5px;
      background-color: $colorGreen;
    }
  }
}
