.product-editor {
  &__photo-wrapper {
    margin: 0 auto;
    width: 300px !important;
  }

  &__picture {
    height: 300px;
  }
}

.editor-form {
  padding: 25px 40px;

  &__field {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
