@import "../../styles/colors.scss";

.tab-panel {
  display: flex;
  height: 100%;
  flex-direction: column;

  &__titles-list {
    display: flex;
    top: 0;
    box-shadow: inset 0 -1px 0 0 $colorLightGray;
  }

  &__title {
    padding: 16px 28px 12px;
    background-color: $colorWhite;
    cursor: pointer;
    box-shadow: inset 0 -1px 0 0 $colorLightGray;
    font-weight: bold;
    font-size: 20px;
    transition: 0.2s;

    &--selected {
      color: $mainColor;
      box-shadow: inset 0 -4px 0 0 $mainColor;
      transition: 0.2s;
    }
  }

  &__tabs-place {
    overflow-x: hidden;
    flex-grow: 1;
  }
}
